<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<body>
  <%- include('../includes/nav') %>
  <main>

    <%- include('../includes/sideNav') %>

    <div id="dashRight">
      <h1><%= title %></h1>

      <div id="graphContainer">

        <!-- Admin + User -->
        <section class="dashboardInnerContainer">
          <h3>Your Results</h3>
          <div class="chartContainer">
            <canvas id="LineGraph"></canvas>
          </div>
        </section>

<section class="dashboardInnerContainer">
  <h3>Tests Passed</h3>
  <div class="chartContainer">
    <canvas id="PieChart_A" height="200"></canvas>
  </div>
</section>

        <!-- User Only -->
        <% if (user.role === 'user') { %>
          <section class="dashboardInnerContainer">
            <h3>My Training Progress</h3>
            <div class="chartContainer">
              <canvas id="percentage"></canvas>
            </div>
          </section>
        <% } %>

        <!-- Admin Only -->
        <% if (user.role === 'admin') { %>
          <section class="dashboardInnerContainer">
            <h3>Target — Organisation Overview</h3>
            <div class="chartContainer">
              <canvas id="percentage"></canvas>
            </div>
          </section>

          <section class="dashboardInnerContainer">
            <h3>Employee Status</h3>
            <div class="chartContainer">
              <canvas id="PieChart_B"></canvas>
            </div>
          </section>

          <section class="dashboardInnerContainer">
            <h3>Campaign Results</h3>
            <div class="chartContainer">
              <canvas id="BarChart"></canvas>
            </div>
          </section>
        <% } %>

      </div><!-- end graphContainer -->
    </div><!-- end dashRight -->

  </main>

  <%- include('../includes/footer') %>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script src="/js/charts.js"></script>